<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>쇼핑몰 아이템</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles2.css" rel="stylesheet"/>
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5 d-flex justify-content-between align-items-center">
        <a class="navbar-brand" href="/">
            <img src="/assets/flexshmall.png" alt="flexshmall" style="width:60px">
        </a>
        <ul class="navbar-nav mx-auto">
            <li class="nav-item"><a class="nav-link" href="/user/login">로그인</a></li>
            <li class="nav-item"><a class="nav-link" href="/user/new">회원가입</a></li>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        </ul>
        <a class="d-flex" href="/user/login">
            <button class="btn btn-outline-success" type="submit">
                <i class="bi-cart-fill me-1"></i>
                Cart
                <span class="badge bg-success bg-gradient text-white ms-1 rounded-pill">0</span>
            </button>
        </a>
    </div>
    </div>
</nav>
<!-- Product section-->
<section class="py-5">
    <div class="container px-5">
        <div class="row gx-5 mb-5">
            <div class="col-4">
                <img th:src="@{${item.filepath}}" alt="상품이미지" width="100%" height="auto"/>
            </div>
            <div class="col-8">
                <div class="mb-3 d-flex justify-content-between">
                    <div>
                        <h3 th:text="${item.name}">item name</h3>
                        <strong th:text="${item.price} + ' 원'">30,000 원</strong>
                    </div>
                </div>
                <div class="mb-3">
                    <p class="y_detailtext"><strong>상품명</strong><span th:text="${item.text}"></span></p>
                    <p class="y_detailtext"><strong>배송</strong><span th:text="${item.delivery}"></span></p>
                    <p class="y_detailtext"><strong>판매자</strong><span th:text="${item.seller}"></span></p>
                    <p class="y_detailtext"><strong>포장타입</strong><span th:text="${item.packaging}"></span></p>
                    <p class="y_detailtext"><strong>판매단위</strong><span th:text="${item.sales}"></span></p>
                    <p class="y_detailtext"><strong>중량/용량</strong><span th:text="${item.weight}"></span></p>
                    <p class="y_detailtext"><strong>알레르기정보</strong><span th:text="${item.allergy}"></span></p>
                    <p class="y_detailtext"><strong>유통기한</strong><span th:text="${item.expiration}"></span></p>
                    <p class="y_detailtext"><strong>안내사항</strong><span th:text="${item.notification}"></span></p>
                </div>
                <a class="d-flex" href="/userLoginForm">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1"
                           style="max-width: 3rem"/>
                    <button class="btn btn-outline-success flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!-- 추가 이미지 -->
                <div th:if="${item != null and item.additionalImages != null}">
                    <div th:each="additionalImage : ${item.additionalImages}">
                        <img th:src="@{${additionalImage}}" alt="추가 이미지" width="100%" height="auto"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-success bg-gradient">
    <div class="container"><p class="m-0 text-center text-white">2023 12월 쇼핑몰 Project</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts2.js"></script>
</body>
</html>
