<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- jQuery 로드 -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link th:href="@{/css/layout2.css}" rel="stylesheet">

    <!-- 사용자 CSS 추가 -->
    <style>
        .fieldError {
            color: #bd2130;
        }
        .final_pwck_ck{
            display: none;
        }
        .pwck_input_re_1{
            color : green;
            display : none;
        }
        .pwck_input_re_2{
            color : red;
            display : none;
        }
    </style>

    <!-- 사용자 스크립트 추가 -->
    <script th:inline="javascript">
        $(document).ready(function(){
            var errorMessage = [[${errorMessage}]];
            if(errorMessage != null){
                alert(errorMessage);
            }
        });
    </script>

    <script th:src="@{https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js}"></script>
    <script th:inline="javascript">
        function execPostCode() {
         new daum.Postcode({
             oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var fullRoadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 도로명 조합형 주소 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 도로명, 지번 조합형 주소가 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }
                // 도로명, 지번 주소의 유무에 따라 해당 조합형 주소를 추가한다.
                if(fullRoadAddr !== ''){
                    fullRoadAddr += extraRoadAddr;
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                console.log(data.zonecode);
                console.log(fullRoadAddr);


                $("[name=addr1]").val(data.zonecode);
                $("[name=addr2]").val(fullRoadAddr);

                /* document.getElementById('signUpUserPostNo').value = data.zonecode; //5자리 새우편번호 사용
                document.getElementById('signUpUserCompanyAddress').value = fullRoadAddr;
                document.getElementById('signUpUserCompanyAddressDetail').value = data.jibunAddress; */
            }
         }).open();
     }
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
        function sendNumber(){
            $("#mail_number")
            $.ajax({
                url:"/mail",
                type:"post",
                dataType:"json",
                data:{"mail" : $("#mail").val()},
                success: function(data){
                    alert("인증번호 발송");
                    $("#Confirm").attr("value",data);
                },
                error:function(request, status, error){
		        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
	            }
            });
        }

        function confirmNumber(){
            var number1 = $("#number").val();
            var number2 = $("#Confirm").val();

            if(number1 == number2){
                alert("인증되었습니다.");
            }else{
                alert("번호가 다릅니다.");
            }

       }
    </script>

    <script type="text/javascript">
        var pwCheck = false;
        var pwckcorCheck = false;

        $(document).on("propertychange change keyup paste input", '#passwordConfirm', function(){
           var pw = $('#password').val();
           var pwck = $('#passwordConfirm').val();
           $('#final_pwck_ck').css('display', 'none');

           if(pw == pwck){
            $('#pwck_input_re_1').css('display','block');
            $('#pwck_input_re_2').css('display','none');
            pwckcorCheck = true;
           }else{
            $('#pwck_input_re_1').css('display','none');
            $('#pwck_input_re_2').css('display','block');
            pwckcorCheck = false;
           }
     });
    </script>

    <!--아이디 중복확인 -->
    <script th:inline="javascript">
        function usernameCheck() {
    const username = $("#username").val();
    if (username == "") {
        $("#username").focus();
        return false;
    }
    $.ajax({
        type: "get",
        url: "/user/usernameCheck",
        data: {"username": username},
        dataType: "JSON",

        success: function (result) {
            if (result.result == "0") {
                if (confirm("이 아이디는 사용 가능합니다. \n사용하시겠습니까?")) {
                    usernameOverlapCheck = 1;
                    $("#username").attr("readonly", true);
                    $("#usernameChk").attr("disabled", true);
                    $("#usernameChk").css("display", "none");
                }
                return false;
            } else if (result.result == "1") {
                alert("이미 사용중인 아이디입니다.");
                $("#username").focus();
            } else {
                alert("success이지만 result 값이 undefined 잘못됨");
            }
        },
        error: function (request, status,error) {
            alert("ajax 실행 실패");
            alert("code:" + request.status + "\n" + "error :" + error);
        }
    });
}
    </script>

</head>

<body>
<div class="content">
    <div class="y_wrap">
        <form action="/user/new" role="form" method="post" th:object="${userDto}">
            <h4 style="font-weight: bold;">회원가입</h4>
            <div class="form-group">
                <label th:for="username">아이디</label>
                <div class="y_df">
                    <input type="text" th:field="*{username}" class="form-control" placeholder="아이디 입력">
                    <input class="btn btn-outline-success btn-md idCheck" type="button" id="usernameChk"
                           onclick="usernameCheck()" value="중복 체크">
                </div>
                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="fieldError">Incorrect
                    data</p>
            </div>
            <!--비밀번호-->
            <div class="form-group">
                <label th:for="password">비밀번호</label>
                <input type="password" th:field="*{password}" class="form-control" placeholder="비밀번호 입력">
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fieldError">Incorrect
                    data</p>
            </div>
            <!--비밀번호 확인-->
            <div class="form-group">
                <label th:for="password">비밀번호 재입력</label>
                <input type="password" id="passwordConfirm" class="form-control" placeholder="비밀번호 재입력">
                <span class="final_pwck_ck">비밀번호 확인을 입력해주세요.</span>
                <span class="pwck_input_re_1" id="pwck_input_re_1">비밀번호 일치</span>
                <span class="pwck_input_re_2" id="pwck_input_re_2">비밀번호 불일치</span>
            </div>

            <div class="form-group">
                <label th:for="name">닉네임</label>
                <input type="text" th:field="*{name}" class="form-control" placeholder="닉네임 입력">
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError">Incorrect data</p>
            </div>


            <!--이메일 전송-->
            <div class="form-group">
                <label th:for="email">이메일</label>
                <div class="y_df">
                    <input type="email" class="form-control" th:field="*{email}" name="mail" id="mail"
                           placeholder="이메일 입력">
                    <button class="btn btn-outline-success btn-md" type="button" id="sendBtn" name="sendBtn"
                            onclick="sendNumber()">인증번호 전송
                    </button>
                </div>
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError">Incorrect data</p>
                <!--인증번호 인증-->
                <div class="y_df" id="mail_number" name="mail_number">
                    <input type="text" class="form-control" name="number" id="number" placeholder="인증번호 입력">
                    <span id="mail-check-warn"></span>
                    <button class="btn btn-outline-success btn-md" type="button" name="confirmBtn" id="confirmBtn"
                            onclick="confirmNumber()">인증번호 확인
                    </button>
                    <input type="text" id="Confirm" name="Confirm" style="display: none" value="">
                </div>

            </div>


            <!-- 우편 번호 -->
            <div class="form-group">
                <label for="addr1">주소</label>
                <div class="y_df">
                    <input class="form-control" placeholder="우편번호" name="addr1" id="addr1" type="text"
                           readonly="readonly">
                    <button type="button" class="btn btn-outline-success btn-md" onclick="execPostCode();"><i
                            class="fa fa-search"></i> 우편번호 찾기
                    </button>
                </div>
                <div class="y_df">
                    <input class="form-control" placeholder="도로명 주소" name="addr2" id="addr2" type="text"
                           readonly="readonly"/>
                </div>
                <div class="y_df">
                    <input class="form-control" placeholder="상세주소" name="addr3" id="addr3" type="text"/>
                </div>
            </div>

            <div class="form-group">
                <label th:for="phoneNumber">휴대폰 번호</label>
                <input type="tel" th:field="*{phoneNumber}" class="form-control" placeholder="휴대폰 번호 입력">
                <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="fieldError">Incorrect
                    data</p>
            </div>
            <div>
                <button type="submit" class="btn btn-success btn-lg y_btnsign">회원가입</button>
            </div>
            <div class="y_login">
                <span>이미 회원이신가요?</span>
                <a href="/user/login">로그인 하러가기</a>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            </div>
        </form>
    </div>
</div>
</body>
</html>
